.board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.action-area {
  grid-column: 1 / -1;
  text-align: center;
}
